.main__collaborative{
    display: flex;
    width: 1100px;
    height: 474px;
    margin: 0 auto;
    margin-top: 150px;
        
         &-text{
            display: block;
            width: 560px;
            height: 100%;
            
                  &-text1{
                    width: 190px;
                    height: 25px;
                    margin-top: 15px;
                    color: #22343D;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                  }

                  &-text2{
                    width: 225px;
                    height: 50px;
                    margin-top: 8px;
                    color: #22343D;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    font-family: Poppins;
                  }
                  &-mobile{
                    display: flex;
                    margin-top: 16px;
                    width: 335px;
                    height: 105px;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px; /* 162.5% */
                    color: #22343D;
                  }
                  &-text3{
                    width: 152px;
                    height: 27px;
                    margin-top: 28px;
                      font-family: Poppins;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 600;
                      line-height: 26px; /* 162.5% */
                      color: #22343D;
                  }
                  &-text4{
                    width: 486px;
                    height: 53px;
                    margin-top: 12px;
                      font-family: Poppins;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 26px; /* 162.5% */
                      color: #22343D;
                  }
                  &-text5{
                    width: 110px;
                    height: 27px;
                    margin-top: 25px;
                      font-family: Poppins;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 600;
                      line-height: 26px; /* 162.5% */
                      color: #22343D;
                  }
                  &-text6{
                    width: 486px;
                    height: 53px;
                    margin-top: 12px;
                      font-family: Poppins;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 26px; /* 162.5% */
                      color: #22343D;
                  }
         }
         &-img{
            width: 540px;
            height: 100%;
            
         }
}

@media screen  and (max-width: 411px) {
    .main__collaborative{

        width: 100%;
        height: 800px;
        flex-direction: column-reverse;
          &-img , img {
            width: 350px;
            height: 320px;
            margin: 0 auto;
          }
          &-text{
            width: 335px;
            height: 480px;
            margin: 0 auto;
                &-text1{
                    margin-top: 40px;
                }
                &-mobile{
                    display: flex;
                    margin-top: 16px;
                    width: 335px;
                    height: 105px;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px; /* 162.5% */
                    color: #22343D;
                }
                &-text3{
                    margin-top: 0px;
                }
                &-text4, &-text6{
                    width: 327px;
                    height: 68px;
                }
          }
    }
}